html {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 200%;
	color: white;
	text-align: center;
	background: #020c51;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 4px;
}

a {
	text-decoration: none;
	color: #9999ff;
}

a:hover {
	text-decoration: underline;
	color: #eeeeff;
}

.info {
	margin-top: 40px;
	width: auto;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

#ljmulogo {
	background: transparent;
	background-size: 100%;
	margin-left: 0px;
	margin-right: auto;
	width: 30%;
	min-width: 200px;
	max-width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
}

#logo {
	background: transparent;
	background-size: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	max-width: 800px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#logoimage {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

#date {
	background: transparent url('images/date.png') no-repeat 0% 60%;
	font-size: 160%;
	padding-left: 50px;
}

#details {
	background: transparent url('images/group.png') no-repeat 0% 60%;
	padding-left: 50px;
}

#register {
	background: transparent url('images/eventbrite.png') no-repeat 0% 60%;
	padding-left: 50px;
}

#twitter {
	background: transparent url('images/twitter.png') no-repeat 0% 60%;
	padding-left: 50px;
}

#website {
	background: transparent url('images/world.png') no-repeat 0% 60%;
	padding-left: 50px;
}

#email {
	font-size: 50%;
	margin-top: 200px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	width: 48%;
	text-align: left;
	display: inline-block;
}

#shader {
	font-size: 50%;
	margin-top: 200px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	width: 48%;
	text-align: right;
	display: inline-block;
}


